.vs/*
QP/x64/*
x64/*
QP/QP.vcxproj.user
QP/QP.vcxproj.filters
QP/QP.vcxproj
CLI/x64/*
CVEx/x64/*
player/X64/*
CVEx/*.jpg
QMagnetism/x64/*
QP/这个治疗有点烦 第01话 此处省略269个字的第一集.flv
*.filters
*.vcxproj.user
*.vcxproj
